<h2>Fight to the Death</h2>
<%= @game.player1.name %>: <%= @game.player1.hp %>/100HP
<br>
VS
<br>
<%= @game.player2.name %>: <%= @game.player2.hp %>/100HP

<form action="/attack">
  <input type="submit" value="Attack"/>
</form>
